{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Accueil {% endblock %}
       
{% block content %} 
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				 <h1 class="text-center">SHOPSHOP</h1> 
				 <br><br>
				<div style="text-align:center">
					Welcome on SHOPSHOP website
				</div>

			</div>
		</div>
		<div class="col-3 p-3 mb-2">
  			{% for type in types %}
				<a href="index.php?page=productsByType&typeID={{type.typeId}}">{{type.label}}</a>
				<br>
			{% endfor %}
		</div>
	</div>
{% endblock %} 