{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Products {% endblock %}
       
{% block content %} 
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				 <h1 class="text-center">Products list</h1> 


				{% for order in orders %}
					<h3>{{order.date}}</h3> 
					<i>{{order.totalAmount}}</i>

				<hr>


				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %} 