{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Type Update {% endblock %}
       
{% block content %} 
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 align-items-center">
				<h1 class="text-center text-primary fw-bold m-2">Modifier un
				type {{type.typeID}}</h1>
				<form method="POST">
					<input type="hidden"  name="typeID" class="form-control" value="{{type.typeID}}">
					<input type="text" value="{{type.label}}" name="label"
					class="form-control">
					<div class="text-center">
						<input type="submit" value="Modifier" class="btn btn-dark m-2">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %} 